//MODAL STYLING
.login-modal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  font-family: "Baloo Da 2";
  
  input {
    padding: .5rem;
    font-size: small;
  }
  
  label {
    float: left;
    font-weight: 500;
  }
  
  label span {
    color: red;
  }

  .submit-btn {
    grid-column: 2 / 3;
    margin-top: 1rem;
    margin-left: auto;
    font-family: "Baloo Da 2";
    font-size: x-large;
    border: none;
    transition: 1s;

    &:hover {
      color: $cyan;
      text-decoration: underline;
    }
  }
}


.register-modal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  grid-gap: 1rem;
  font-family: "Baloo Da 2";
  
  input {
    padding: .5rem;
    font-size: small;
  }
  
  label {
    float: left;
    font-weight: 500;
  }
  
  label span {
    color: red;
  }

  .submit-btn {
    grid-column: 2 / 3;
    margin-top: 1rem;
    margin-left: auto;
    font-family: "Baloo Da 2";
    font-size: x-large;
    border: none;
    transition: 1s;
    &:hover {
      color: $cyan;
      text-decoration: underline;
    }
  }
}


.modal-underlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .5;
}


.modal {
  top:20%;
  left: 40%;
  z-index: 100;
  background: white;
  position: absolute;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
  font-family: "Baloo Da 2";

  .modal-header {
    display: flex;
    justify-content: flex-end;

    button {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1;
      color: black;
      opacity: .3;
      cursor: pointer;
      border: none;
      outline: none;
    }
  }

  hr {
    width: 100%;
    border: 1px solid black;
    margin: 1rem auto;
  }
}